---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="author" content="Adel Abdulazeem"/>
    <meta name="description" content="Full-Stack Developer Portfolio and Upcoming Events - Need help with your website, or Need a Web Developer or Software Engineer? Get in Touch Now!">
    <meta name="keywords" content="adel, abdulazeem, Software Engineer, portfolio, javascript, node.js">
    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        const storedDarkMode = localStorage.getItem('dark_mode');

        if (storedDarkMode === null || storedDarkMode === 'true') {
          document.documentElement.classList.add('dark')
        }else{
          document.documentElement.classList.add('dark')
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
